@charset "UTF-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

body {
	text-align: center;
	align-content: center;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

li {
	text-align: left;
	align-content: left;
}

h1 {
	color: cadetblue;
	width: 600;
	text-align: center;
	
}

p a:link {
	text-decoration: none;
	background-color: burlywood;
	border: 3px #226168;
	color: black;
	display: block;
	width: 50px;
	text-align: center;
	margin-bottom: 2px;
}

p a:visited {
	text-decoration: none;
	background-color: burlywood;
	border: 3px #226168;
	color: black;
	display: block;
	width: 50px;
	text-align: center;
	margin-bottom: 2px;
}

p a:hover {
	background-color: aqua;
	color: gray;
}

p a:visited {
	background-color: aqua;
	color: gray;
}

#box1 {
	background-color: coral;
	padding: 10px;
}

#content1 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

h2.content1 {
	font-size: 2em;
}

li {
	align-content: center;
	align-items: center;
}
